<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    Welcome to {{.Name}}.
    Here is a breakdown of our menu.
    Breakfast: {{.Menu.Breakfast}}
    Lunch: {{.Menu.Lunch}}
    Dinner: {{.Menu.Dinner}}
</body>
</html>